/* 该样式表作为基本样式供其他组件进行引用 */

/* 边距部分 */
.m_0 {
  margin: 0;
}
.m_a {
  margin: auto;
}
.mr_16 {
  margin-right: 16px;
}
.mt_16 {
  margin-top: 16px;
}
.mb_16 {
  margin-bottom: 16px;
}
.ml_12 {
  margin-left: 12px;
}
.ml_16 {
  margin-left: 16px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_60 {
  margin-top: 60px;
}
/* 布局部分 */
.jc_c {
  justify-content: center;
}
.jc_e {
  justify-content: end;
}
/* 标签部分 */
.tag_magenta {
  background-color: var(--magenta-level-1);
  color: var(--magenta-level-6);
  border: 1px solid var(--magenta-level-1);
}