/* 该样式表作为基本样式供其他组件进行引用 */

/* 边距部分 */
.m_0 {
  margin: 0;
}
.m_a {
  margin: auto;
}
.mr_16 {
  margin-right: 16px;
}
.mr_20 {
  margin-right: 20px;
}
.mt_16 {
  margin-top: 16px;
}
.mb_16 {
  margin-bottom: 16px;
}
.ml_12 {
  margin-left: 12px;
}
.ml_16 {
  margin-left: 16px;
}
.ml_20 {
  margin-left: 20px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_60 {
  margin-top: 60px;
}
/* 布局部分 */
.jc_c {
  justify-content: center;
}
.jc_e {
  justify-content: end;
}
/* 标签部分 */
.tag_magenta {
  background-color: var(--magenta-level-1);
  color: var(--magenta-level-6);
  border: 1px solid var(--magenta-level-1);
  margin: 0;
}
.tag_purple {
    background-color: var(--purple-level-1);
    color:var(--purple-level-6);
    border: 1px solid var(--purple-level-1);
    margin: 0;
}
.tag_yellow {
  background-color: var(--yellow-level-1);
  color: var(--yellow-level-6);
  border: 1px solid var(--yellow-level-1);
  margin: 0;
}
.tag_lime {
  background-color: var(--lime-level-1);
  color: var(--lime-level-6);
  border: 1px solid var(--lime-level-1);
  margin: 0;
}
.tag_blue {
  background-color: var(--blue-level-1);
  color: var(--blue-level-1);
  border: 1px solid var(--blue-level-1);
  margin: 0;
}
.tag_orange {
  background-color: var(--orange-level-1);
  color: var(--orange-level-1);
  border: 1px solid var(--orange-level-1);
  margin: 0;
}
.tag_cyan {
  background-color: var(--cyan-level-1);
  color: var(--cyan-level-1);
  border: 1px solid var(--cyan-level-1);
  margin: 0;
}
.tag_gold {
  background-color: var(--gold-level-1);
  color: var(--gold-level-6);
  border: 1px solid var(--gold-level-1);
  margin: 0;
}
.tag_pink_purple {
  background-color: var(--pink_purple-level-1);
  color: var(--pink_purple-level-6);
  border: 1px solid var(--pink_purple-level-1);
  margin: 0;
}

/* 这里是flex对齐方向 */
.flex-align-fs {
  align-items: flex-start;
}
.flex-align-c {
  align-items: center;
}
.flex-align-fe {
  align-items: flex-end;
}
.flex-align-sb {
  align-items: space-between;
}