/* 该文件用于存放dashboard相关样式表 */

/* 容器相关 */
.c-data_con {
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.c-data_head {
    display: flex;
    justify-content: space-between;
    height: auto;
}
.c-data_title {
    display: inline-flex;
    padding: 20px;
    align-items: flex-start;
    gap: 10px;
    color: #000;
    font-family: PingFang SC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.c-data_body {
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.c-data_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 数据卡片相关 */
.c-card_con {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: flex-start;
    gap: 16px;
    flex-shrink: 0;
}
.c-card_main {
    width: auto;
    background-color: #F7F8FA;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 10px;
    justify-content: flex-start;
    flex-basis: 33%;
    flex-grow: 1;
    max-width: 250px;
}
.c-card_main:last-child {
    max-width: calc(50% - 10px);
}
.c-card_title {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    text-align: left;
    color: #4E5969;
}
.c-card_data {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width:100%;
    gap: 12px;
}

/* 比较 */
.compare_plus {
    color: var(--color-danger-6);
}
.compare_minus {
    color: var(--color-success-6);
}