/* 该文件用于存放dashboard相关样式表 */

/* 容器相关 */
.c-data_con {
    /* width: 44.625rem; */
    height: 17.875rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: #FFF;
    display: flex;
    flex-direction: column;
}
.c-data_head {
    display: flex;
    justify-content: space-between;
    height: auto;
}
.c-data_title {
    display: inline-flex;
    padding: 1.25rem;
    align-items: flex-start;
    gap: 0.625rem;
    color: #000;
    font-family: PingFang SC;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
}
.c-data_body {
    padding: 0 1.25rem 1.25rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.c-data_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 数据卡片相关 */
.c-card_con {
    display: flex;
    flex-wrap: wrap;
    width: 27.5rem;
    justify-content: space-between;
    margin-top: -1rem;
}
.c-card_main {
    width: 13.25rem;
    background-color: #F7F8FA;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.62rem;
    margin-top: 1rem;
}
.c-card_title {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    text-align: left;
    color: #4E5969;
}
.c-card_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 标签相关 */
.label_magenta {
    background-color: var(--magenta-level-1);
    color:var(--magenta-level-6)
}
.label_purple {
    background-color: var(--purple-level-1);
    color:var(--purple-level-6)
}
.label_yellow {
    background-color: var(--yellow-level-1);
    color: var(--yellow-level-6);
}
.label_lime {
    background-color: var(--lime-level-1);
    color: var(--lime-level-6);
}
.label_blue {
    background-color: var(--blue-level-1);
    color: var(--blue-level-6);
}
.label_orange {
    background-color: var(--orange-level-1);
    color: var(--orange-level-6);
}
.label_cyan {
    background-color: var(--cyan-lavel-1);
    color: var(--cyan-level-6);
}
.label_gold {
    background-color: var(--gold-level-1);
    color: var(--gole-level-6);
}
.label_pink_purple {
    background-color: var(--pink_purple-level-1);
    color: var(--pink_purple-level-6);
}

/* 比较 */
.compare_plus {
    color: var(--color-danger-6);
}
.compare_minus {
    color: var(--color-success-6);
}