/* 该文件用于存放dashboard相关样式表 */

/* 容器相关 */
.c-data_con {
    /* width: 44.625rem; */
    height: 17.875rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: #FFF;
    display: flex;
    flex-direction: column;
}
.c-data_head {
    display: flex;
    justify-content: space-between;
    height: auto;
}
.c-data_title {
    display: inline-flex;
    padding: 1.25rem;
    align-items: flex-start;
    gap: 0.625rem;
    color: #000;
    font-family: PingFang SC;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
}
.c-data_body {
    padding: 0 1.25rem 1.25rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.c-data_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 数据卡片相关 */
.card_con {
    display: flex;
    flex-wrap: wrap;
    width: 27.5rem;
    justify-content: space-between;
    margin-top: -1rem;
}
.card_main {
    width: 13.25rem;
    background-color: #F7F8FA;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.62rem;
    margin-top: 1rem;
}
.card_title {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    text-align: left;
    color: #4E5969;
}
.card_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}