.ant-menu-item-selected {
  color: #165dff !important;
  background-color: #f2f3f5 !important;
  font-weight: 500;
}
.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background-color: #ffffff !important;
}
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #165dff !important;
}
.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > .ant-menu-title-content {
  text-align: left;
  margin-left: 1.2rem;
}
